 @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
html {
    height: 100%;
    font-family: 'JetBrains Mono', monospace;
    scroll-behavior: smooth;
    background-color: black;
}
body{
    margin: auto;
}
div{
    width: 100%;
    height: 100vh;
}
p{
    padding: 0%;
    margin: 0%;
    color: white;
}
.Twinkle{
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    transform: translate(-50%,-50%);
}
.Star{
    width: 1.2rem;
    height: 1.2rem;
    rotate: -15deg;
    position: absolute;
    transform: translate(-50%,-50%);
}
.Asterisk{
    width: .8rem;
    height: .8rem;
    position: absolute;
    transform: translate(-50%,-50%);
}
.Home{
    position: relative;
}
#one{top: 15%;left: 3%;}
#two{top: 4%;left: 14%;}
#three{top: 8%;left: 84%;}
#four{top: 18%;left: 26%;}
#five{top: 14%;left: 67%;}
#six{top: 20%;left: 95%;}
#seven{top: 3%;left: 47%;}
#eight{top: 44%;left: 1.5%;}
#nine{top: 40%;left: 97%;}
#ten{top: 54%;left: 8%;}
#eleven{top: 41%;left: 42%;}
#twelve{top: 51%;left: 59%;}
#thirteen{top: 52%;left: 95%;}
#fourteen{top: 50%;left:24%;}
#fifteen{top: 46%;left: 90%;}
#sixteen{top: 77%;left: 27%;}
#seventeen{top: 95%;left: 69%;}
#eighteen{top: 86%;left: 90%;}
#nineteen{top: 90%;left: 4%;}
#twenty{top: 92%;left: 38%;}
#twentyone{top: 75%;left: 79%;}
#twentytwo{top: 78%;left: 11%;}
#twentythree{top: 78%;left: 97%;}

.SVGTense{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.tagline{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.SVGScrollDown{
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: scrollDownAnim 2s infinite;
}
@keyframes scrollDownAnim {
    0% { transform: translate(-50%, -50%) translateY(0); }
    50% { transform: translate(-50%, -50%) translateY(10px); }
    100% { transform: translate(-50%, -50%) translateY(0); }
}
.Papers{
    position: relative;
}
.Projects{
position: relative;
}
.About{
    position: relative;
}
.SVGHello{
    position: absolute;
    top: 9%;
    left: 20%;
    transform: translate(-50%,-50%);
}
.aboutText{
    width: max-content;
    height: max-content;
    position: block;
    padding-top: 7rem;
    padding-left: 2rem;
    color: lightgreen;
}
.duck{
    height: 25%;
    position: relative;
    top: 24%;
    left: 65%;
    transform: translate(-50%,-50%);
}
.SVG2025{
    position: absolute;
    top: 89%;
    left: 80%;
    transform: translate(-50%,-50%);
